<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Numérica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <main class="menu">
        <section class="menu-item">
            <h1>Calculadora Numérica</h1>
            <div class="menu-item-item">
                <h2 class="title">Escolha o Tipo de Cálculo</h2>
                <a href="/sistema_linear">Resolver Sistema Linear</a>
                <a href="/interpolacao">Interpolação por Lagrange</a>
            </div>
        </section>
    </main>  
    <footer>
        <div class="footer">
            <p>Desenvolvido por: ChatGPT, Thiago França e Lucas Andrey</p>
        </div>
    </footer>
</body>
</html>